body {
  font-family: var(--font-family-base);
  font-weight: var(--regular);
}

/* HEADING */

h1 {
  font-family: var(--font-family-brand);
  font-size: var(--font-size-h1);
  font-weight: var(--regular);
}

h2 {
  font-family: var(--font-family-brand);
  font-size: var(--font-size-h2);
  font-weight: var(--regular);
}

/* WRAPPER */
.flex {
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

/* BUTTON */

.btn {
  border-radius: var(--radius-12);
  font-size: var(--font-size-16);
  font-weight: var(--semibold);
  padding: var(--space-16) var(--space-32);
  text-align: center;
}

.btn-filled {
  background-color: var(--color-brand-primary);
  color: var(--color-text-tertiary);
}

.btn-outlined {
  background-color: var(--color-bg-primary);
  color: var(--color-brand-primary);
  border-width: 1px;
  border-color: var(--color-brand-primary);
  border-style: solid;
}

/* CARD */

.card-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

.card-link:hover .card {
  transform: translateY(-2px);
}

.card {
  display: flex;
  width: 12.5rem;
  flex-direction: column;
  align-items: stretch;
  background-color: var(--color-bg-light);
  border-bottom-left-radius: var(--radius-12);
  border-bottom-right-radius: var(--radius-12);
  padding-bottom: var(--space-24);
  position: relative;
  z-index: 999;
}

.card-img {
  height: 12.5rem;
  object-fit: cover;
  object-position: center;
}

.card-description {
  padding: 0 var(--space-16);
}

.card-title {
  font-size: var(--font-size-16);
  font-weight: var(--regular);
  margin-top: var(--space-16);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-author {
  font-size: var(--font-size-14);
  font-weight: var(--regular);
  color: var(--color-text-secondary);
  margin-top: var(--space-4);
  margin-bottom: var(--space-16);
}

.card-owner {
  font-size: var(--font-size-10);
  font-weight: var(--regular);
  font-style: italic;
  color: var(--color-text-secondary);
}

.card-tag {
  position: absolute;
  top: var(--space-16);
  right: var(--space-16);
  border-radius: var(--radius-pill);
  color: var(--color-text-tertiary);
  padding: var(--space-4) var(--space-12);
  font-size: var(--font-size-8);
  font-weight: var(--semibold);
  background-color: var(--color-danger);
}

@media (max-width: 1023px) {
  h1 {
    font-size: var(--font-size-h1-mobile);
    font-weight: var(--regular);
  }

  .container {
    width: 100%;
    margin: 0;
  }

  .card {
    width: 10rem;
  }

  .card-img {
    height: 10rem;
  }

  .card-description {
    text-align: left;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
