body {
  font-family: --var(--font-family-base);
}

.flex {
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  /* tablette */
}
@media (min-width: 1024px) {
  /* laptop */
}
@media (min-width: 1280px) {
  /* desktop */
}
