.footer-wrapper {
  position: fixed;
  bottom: 0;
  background-color: var(--color-bg-light);
  justify-content: flex-end;
  align-content: center;
  height: var(--footer-h);
  width: 100%;
  gap: var(--space-40);
  padding: 0 var(--space-48);
  z-index: 9999;
}

.footer-wrapper > li {
  font-size: var(--font-size-12);
  font-weight: var(--light);
}

@media (min-width: 768px) {
}
@media (min-width: 1024px) {
}
@media (min-width: 1280px) {
}
