section {
  padding: 5rem 0;
}

.discover {
  background-color: var(--color-bg-primary);
}

.discover-wrapper {
  justify-content: center;
  gap: 0 6.25rem;
}

.left-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.left-content > p {
  max-width: 35ch;
  margin: var(--space-16) 0 var(--space-40) 0;
}

.right-content > div {
  width: 404px;
}

.img-wrapper > p {
  font-size: var(--font-size-12);
  color: var(--color-text-secondary);
  font-style: italic;
  text-align: right;
  margin-top: var(--space-12);
}

.books {
  background-color: var(--color-bg-secondary);
  justify-content: center;
}

.books-wrapper {
  flex-direction: column;
}

.card-wrapper {
  width: 100%;
  flex-wrap: wrap;
  margin: var(--space-48) 0;
  justify-content: space-between;
  padding: 0 calc(6 * var(--space-40));
}

.help {
  background-color: var(--color-bg-primary);
  justify-content: center;
}

.help-wrapper {
  flex-direction: column;
  justify-content: center;
}

.help-wrapper > p {
  max-width: 42ch;
  text-align: center;
  margin-top: var(--space-24);
}

.rules-wrapper {
  margin: var(--space-48) 0;
  gap: 0 var(--space-32);
}

.rules-card {
  padding: 0 var(--space-16);
  background-color: var(--color-bg-light);
  border-radius: var(--radius-12);
  text-align: center;
  width: 15rem;
  height: 8.75rem;
  font-size: var(--font-size-14);
}

.banner-wrapper {
  background-color: var(--color-bg-primary);
}

.banner {
  height: 14.375rem;
  background-image: url("/assets/images/banner.jpg");
  background-size: cover;
  background-position: center;
}

.values {
  background-color: var(--color-bg-primary);
  justify-content: center;
}

.values-wrapper {
  width: 25rem;
  flex-direction: column;
}

.values-text {
  margin: var(--space-24) 0;
}

.signature {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.signature > span {
  font-size: var(--font-size-12);
  color: var(--color-text-secondary);
  font-style: italic;
}

@media (max-width: 1023px) {
  section {
    padding: 0;
  }

  .discover-wrapper {
    flex-direction: column-reverse;
    justify-content: center;
    gap: var(--space-32);
    padding-bottom: var(--space-48);
  }

  .discover-btn {
    width: 100%;
  }

  .right-content > div {
    width: 100%;
  }

  .img-wrapper > p {
    margin-right: var(--space-12);
  }

  .books-wrapper {
    padding: var(--space-48) var(--space-24);
    text-align: center;
  }

  .card-wrapper {
    margin: 0;
    margin-top: var(--space-48);
    padding: 0;
  }

  .books-btn {
    display: none;
  }

  .help-wrapper {
    flex-direction: column;
    justify-content: center;
    padding: var(--space-48) var(--space-24);
  }

  .help-btn {
    width: 100%;
  }

  .rules-wrapper {
    flex-direction: column;
    gap: var(--space-16);
  }

  .rules-card {
    width: 100%;
    padding: 0 var(--space-32);
  }

  .values-wrapper {
    width: 100%;
    padding: var(--space-32) var(--space-16) var(--space-48);
  }

  .signature {
    flex-direction: column;
    gap: var(--space-48);
  }

  .signature > img {
    align-self: center;
  }
}
@media (min-width: 1024px) {
  .card-wrapper {
    padding: 0 calc(2 * var(--space-40));
  }
}
@media (min-width: 1280px) {
  .card-wrapper {
    padding: 0 calc(4 * var(--space-40));
  }
}
