.ourBooks-wrapper {
  min-height: calc(100dvh - var(--header-h) - var(--footer-h));
  background-color: var(--color-bg-secondary);
}

.ourBooks-search {
  width: 300px;
  height: 3.125rem;
  border-color: var(--color-border-primary);
  padding-left: 2.2rem;
  background-image: url("/assets/svg/search.svg");
  background-repeat: no-repeat;
  background-position: 0.75rem center;
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
  border-radius: var(--radius-6);
  border-style: solid;
  border-width: 1px;
  padding: 0 var(--space-40);
}

.ourBooks-search::placeholder {
  color: var(--color-text-secondary);
  font-size: var(--font-size-14);
}

.ourBooks-content {
  padding: calc(2 * var(--space-40)) calc(6 * var(--space-40));
}

.ourBooks-grid {
  margin-top: calc(2 * var(--space-32));
  display: grid;
  grid-template-columns: repeat(4, 12.5rem);
  justify-content: space-between;
  row-gap: var(--space-48);
}

.ourBooks-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
