.my-account-wrapper {
  min-height: calc(100dvh - var(--header-h) - var(--footer-h));
  background-color: var(--color-bg-secondary);
}

.my-account-content {
  padding: 0 calc(3 * var(--space-48));
  padding-top: calc(2 * var(--space-48));
}

.my-account-informations {
  height: 36.25rem;
  width: 100%;
  gap: var(--space-32);
  align-items: flex-start;
}

.my-account-informations-box {
  max-height: 100%;
  flex-direction: column;
  background-color: var(--color-bg-light);
  border-radius: var(--radius-20);
}

.my-account-informations-box.left {
  padding: var(--space-48) 0;
  flex: 1;
}

.my-account-informations-box.right {
  justify-content: center;
  flex: 3;
}

.my-account-avatar {
  height: 8.3rem;
  width: 8.3rem;
  border-radius: var(--radius-pill);
  background-color: var(--color-bg-secondary);
  overflow: hidden;
}

.my-account-avatar > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.my-account-informations-separator {
  height: 0;
  width: 15rem;
  border-top-color: var(--color-border-tertiary);
  border-top-width: 1px;
  border-top-style: solid;
  margin: var(--space-48) 0;
}

.my-account-informations-since {
  font-size: var(--font-size-14);
  color: var(--color-text-secondary);
}

.my-account-informations-subtitle {
  font-size: var(--font-size-8);
  font-weight: var(--semibold);
  margin-top: var(--space-24);
  letter-spacing: 0.08em;
}

.my-account-informations-username {
  font-size: var(--font-size-24);
  font-family: var(--font-family-brand);
}

.my-account-informations-count {
  font-size: var(--font-size-14);
  gap: var(--space-8);
  margin-bottom: var(--space-40);
}

.my-account-books-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0 2px;
  background-color: var(--color-bg-secondary);
}

.my-account-books-table thead th:first-child {
  border-top-left-radius: var(--radius-20);
}

.my-account-books-table thead th:last-child {
  border-top-right-radius: var(--radius-20);
}

.my-account-books-table thead th {
  text-align: start;
  font-size: var(--font-size-8);
  letter-spacing: 0.08em;
  font-weight: var(--semibold);
  padding-top: var(--space-24);
  padding-bottom: var(--space-8);
  background-color: var(--color-bg-light);
}

.my-account-books-table tbody tr {
  font-size: var(--font-size-12);
}

.my-account-books-table tbody tr:last-child td {
  font-size: var(--font-size-12);
  border-bottom: none;
}

.my-account-books-table tbody tr:nth-child(odd) {
  background-color: var(--color-bg-light);
}

.my-account-books-table tbody tr:nth-child(even) {
  background-color: var(--color-bg-tertiary);
}

.my-account-books-table tbody td {
  padding: var(--space-24) 0;
}

.my-account-books-table tbody tr:last-child td:last-child {
  border-bottom-right-radius: var(--radius-20);
}

.my-account-books-table tbody tr:last-child td:first-child {
  border-bottom-left-radius: var(--radius-20);
}

.my-account-books-table tbody td.my-account-books-table-image,
th.my-account-books-table-image {
  padding-left: calc(2 * var(--space-32));
}

.my-account-books-table tbody td.my-account-books-table-desc {
  padding-right: calc(2 * var(--space-32));
  font-style: italic;
}
